/*******************************************************************************
 Employee Registration css file
*******************************************************************************/
/* 
    Created on : 23/09/2017, 19:43:30
    Author     : Maicon Messias
*/
/*** Panel Grid ***/
/* Label */
.principal tbody tbody .ui-widget-content label {
    font-size: 14px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Input */
.principal tbody tbody .ui-widget-content input {
    font-size: 14px;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.principal tbody tbody .ui-widget-content .iptId {
    width: 40px;
}

.principal tbody tbody .ui-widget-content .iptNome {
    width: 250px;
}

.principal tbody tbody .ui-widget-content .iptRg {
    width: 150px;
}

.principal tbody tbody .ui-widget-content .iptCpf {
    width: 150px;
}

/*selectOneMenu*/
.principal tbody tbody .ui-widget-content .ui-selectonemenu label {
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*.principal tbody tbody .ui-widget-content .ui-widget select {
    font-size: 8px;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}*/

.itens .ui-selectonemenu-list { 
    font-size: 14px;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Button */
.principal tbody tbody .ui-widget-content button {
    font-size: 14px;
    background-color: #83c4f9;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 150px;
    margin-left: 10px;
}
/******/