/*******************************************************************************
 Index css file
*******************************************************************************/
/* 
    Created on : 21/09/2017, 20:13:04
    Author     : Maicon Messias
*/
section img {
    border-radius: 2px;
    width: 940px;
    height: 500px;
    margin-top: 8px;
}